In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [16]:
csv_url = "https://raw.githubusercontent.com/dsrscientist/dataset1/master/bikes.csv"

In [18]:
df= pd.read_csv(csv_url)

In [42]:
df

           date  temperature   humidity  windspeed       count
0    2011-01-03     2.716070  45.715346  21.414957  120.000000
1    2011-01-04     2.896673  54.267219  15.136882  108.000000
2    2011-01-05     4.235654  45.697702  17.034578   82.000000
3    2011-01-06     3.112643  50.237349  10.091568   88.000000
4    2011-01-07     2.723918  49.144928  15.738204  148.000000
..          ...          ...        ...        ...         ...
186  2011-07-08    28.187490  63.618656  19.761499  692.000000
187  2011-07-09    29.070524  61.346450  21.121738  702.333333
188  2011-07-10    29.953558  59.074244  22.481976  712.666667
189  2011-07-11    30.836592  56.802038  23.842215  723.000000
190  2011-07-12    32.409522  52.521355  17.987135  662.000000

[191 rows x 5 columns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         191 non-null    object
 1   temperature  191 non-null    float64
 2   humidity     191 non-null    float64
 3   windspeed    191 non-null    float64
 4   count        191 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.6+ KB

In [23]:
df.notnull().sum()

#this mean there are not a missing values

date           191
temperature    191
humidity       191
windspeed      191
count          191
dtype: int64

In [25]:
df['date'].str.strip()

0      2011-01-03
1      2011-01-04
2      2011-01-05
3      2011-01-06
4      2011-01-07
          ...
186    2011-07-08
187    2011-07-09
188    2011-07-10
189    2011-07-11
190    2011-07-12
Name: date, Length: 191, dtype: object

In [35]:
dat = df['count']

In [41]:
dat.max(), dat.min()

(1246.0, 9.0)

In [37]:
type(dat)

pandas.core.series.Series